//
// ABSTRACT: HELPERS
//

.txt--center {
  text-align: center!important;
}

.width--auto {
  width: auto!important;
}

.width--100 {
  width: 100%!important;
}

.display--block {
  display: block!important;
}

.bg--info {
  background: @color-info;
}

.bg--success {
  background: @color-success;
}

.bg--warning {
  background: @color-warning;
}

.bg--error {
  background: @color-error;
}

.no--margin {
  margin: 0!important;
}

//
// VENDOR
//

.oi {
  font-size: 20px;
}
