//
// ABSTRACT: VARIABLES
//

//
// MAIN
//
@font: monospace;

//
// FAKTORS
//
@dark: 25%;
@dark--more: 50%;

//
// COLORS
//
@color-light: #808080;
@color-dark: darken(@color-light, @dark);

@color-info: #87cefa;
@color-info--border: darken(@color-info, @dark);
@color-info--text: darken(@color-info, @dark--more);

@color-success: #90ee90;
@color-success--border: darken(@color-success, @dark);
@color-success--text: darken(@color-success, @dark--more);

@color-warning: #fff089;
@color-warning--border: darken(@color-warning, @dark);
@color-warning--text: darken(@color-warning, @dark--more);

@color-error: #f08080;
@color-error--border: darken(@color-error, @dark);
@color-error--text: darken(@color-error, @dark--more);


