@import "../abstract/variables";

.header {
  margin-bottom: 40px;
  margin-top: 30px;
}

section {
  padding: 25px 0 50px 0;
  &:nth-child(even) {
    background: #bad954;
  }

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.keyboard {
  text-align: center;
}

.Grid {
  text-align: center;
  margin: 0;
  padding: 0;
}

section.Layout {
  .Grid__Examples {
    height: 25px;
    line-height: 25px;
    &:nth-child(even) {
      background: @color-error;
      color: @color-error--text;
    }
    &:nth-child(odd) {
      background: @color-info;
      color: @color-info--text;
    }
  }
}

.Grid__Examples {
  height: auto;
}
