.header {
  margin-bottom: 40px;
  margin-top: 30px;
}
section {
  padding: 25px 0 50px 0;
  min-height: 100vh;
  position: relative;
}
section:nth-child(even) {
  background: rgba(117, 84, 217, 0.52);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.keyboard {
  text-align: center;
}
.Grid {
  text-align: center;
  margin: 0;
  padding: 0;
}
section.Layout .Col {
  height: 25px;
  line-height: 25px;
  text-align: center;
}
section.Layout .Col:nth-child(even) {
  background: #f08080;
  color: #650c0c;
}
section.Layout .Col:nth-child(odd) {
  background: #87cefa;
  color: #054f7d;
}
.Grid__Examples {
  height: auto;
}
.Header {
  background: #87cefa;
  background: -moz-linear-gradient(top, #87cefa 0%, #90ee90 34%, #ffef89 68%, #f08080 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #87cefa), color-stop(34%, #90ee90), color-stop(68%, #ffef89), color-stop(100%, #f08080));
  background: -webkit-linear-gradient(top, #87cefa 0%, #90ee90 34%, #ffef89 68%, #f08080 100%);
  background: -o-linear-gradient(top, #87cefa 0%, #90ee90 34%, #ffef89 68%, #f08080 100%);
  background: -ms-linear-gradient(top, #87cefa 0%, #90ee90 34%, #ffef89 68%, #f08080 100%);
  background: linear-gradient(to bottom, #87cefa 0%, #90ee90 34%, #ffef89 68%, #f08080 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87cefa', endColorstr='#f08080', GradientType=0);
}
.Header h1,
.Header p {
  margin: 0;
  padding: 0;
}
.Header p {
  color: #054f7d;
}
.Header a {
  margin-top: 10px;
}
.Header .Header__Description {
  position: absolute;
  color: #116e11;
  bottom: 10px;
  left: 10px;
  font-weight: bolder;
  padding: 30px;
  background: #90ee90;
}
