.header {
  margin-bottom: 40px;
  margin-top: 30px;
}
section {
  padding: 25px 0 50px 0;
}
section:nth-child(even) {
  background: #bad954;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.keyboard {
  text-align: center;
}
.Grid p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.Grid__Half-L {
  background: #87cefa;
  color: #054f7d;
}
.Grid__Half-L:not(:last-of-type) {
  border-right: 1px solid white;
}
.Grid__Third-L {
  background: #90ee90;
  color: #116e11;
}
.Grid__Third-L:not(:last-of-type) {
  border-right: 1px solid white;
}
.Grid__Fourth-L {
  background: #fff089;
  color: #897800;
}
.Grid__Fourth-L:not(:last-of-type) {
  border-right: 1px solid white;
}
.Grid__Fifth-L {
  background: #f08080;
  color: #650c0c;
}
.Grid__Fifth-L:not(:last-of-type) {
  border-right: 1px solid white;
}
