//==========================================================================
// BASE
//==========================================================================

body {
  font-family: @font;
  font-size: 12px;
  color: @color-dark;
}