//
// BASE: BODY
//

body {
  font-family: @font;
  font-size: 12px;
  color: @color-dark;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 29px;
  margin-bottom: 15px;
}

h4 {
  font-size: 23px;
  margin-bottom: 12.5px;
}

h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

h6 {
  font-size: 14px;
  margin-bottom: 5px;
}