//==========================================================================
// ALERT
//==========================================================================

.Alert {
  display: block;
  padding: 10px 15px;
  color: #505050;
  margin: 15px 0;
  font-weight: bold;
  background: @color-light;

  //
  // Modifier
  //
  &--info {
    background: @color-info;
    color: @color-info--text;
  }
  &--success {
    background: @color-success;
    color: @color-success--text;
  }
  &--warning {
    background: @color-warning;
    color: @color-warning--text;
  }
  &--error {
    background: @color-error;
    color: @color-error--text;
  }
}