.Grid {
  &:before {
    display: table;
    content: " ";
    box-sizing: border-box;
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

//
// GRID L
//
.Grid__L-half {
  display: block;
  @media (min-width: @bp-L-min) {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}

.Grid__L-third {
  display: block;
  @media (min-width: @bp-L-min) {
    position: relative;
    min-height: 1px;
    width: 33.3333333%;
    float: left;
  }
}

.Grid__L-quarter {
  display: block;
  @media (min-width: @bp-L-min) {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}

.Grid__L-fifth {
  display: block;
  @media (min-width: @bp-L-min) {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
  }
}

//
// GRID M
//
.Grid__M-half {
  display: block;
  @media (min-width: @bp-M-min) {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}

.Grid__M-third {
  display: block;
  @media (min-width: @bp-M-min) {
    position: relative;
    min-height: 1px;
    width: 33.3333333%;
    float: left;
  }
}

.Grid__M-quarter {
  display: block;
  @media (min-width: @bp-M-min) {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}

.Grid__M-fifth {
  display: block;
  @media (min-width: @bp-M-min) {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
  }
}

//
// GRID S
//
.Grid__S-half {
  display: block;
  @media (min-width: @bp-S-min) {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}

.Grid__S-third {
  display: block;
  @media (min-width: @bp-S-min) {
    position: relative;
    min-height: 1px;
    width: 33.3333333%;
    float: left;
  }
}

.Grid__S-quarter {
  display: block;
  @media (min-width: @bp-S-min) {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}

.Grid__S-fifth {
  display: block;
  @media (min-width: @bp-S-min) {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
  }
}

//
// GRID XS
//
.Grid__XS-half {
  display: block;
  @media (min-width: @bp-XS-min) {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}

.Grid__XS-third {
  display: block;
  @media (min-width: @bp-XS-min) {
    position: relative;
    min-height: 1px;
    width: 33.3333333%;
    float: left;
  }
}

.Grid__XS-quarter {
  display: block;
  @media (min-width: @bp-XS-min) {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}

.Grid__XS-fifth {
  display: block;
  @media (min-width: @bp-XS-min) {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
  }
}
