//==============================================================================
// L I N K
//==============================================================================
.Link {
  font-weight: bolder;
  text-decoration: none;
  color: darken(@color-dark, @dark--more);
  &:hover {
    text-decoration: underline;
  }
  //----------------------------------------------------------------------------
  // Link--modifier
  //----------------------------------------------------------------------------
  &--info {
    color: @color-info--text;
  }
  &--success {
    color: @color-success--text;
  }
  &--warning {
    color: @color-warning--text;
  }
  &--error {
    color: @color-error--text;
  }
}