//
// COMPONENT: TABLE
//

.Table {
  display: table;
  width: 100%;
  margin: 15px 0;
  border: none!important;
  border-collapse: collapse;
  th {
    font-weight: bolder;
    border-bottom: 1px solid @color-dark;
  }
  td, th {
    text-align: left;
    padding: 10px;
  }
  tr:nth-child(even) {
    background: #dddddd;
  }
  tr:nth-child(odd) {
    background: #f2f2f2;
  }
}