.Table {
  display: table;
  width: 100%;
  margin: 15px 0;
  border: none!important;
  border-collapse: collapse;
}
.Table th {
  font-weight: bolder;
}
.Table td,
.Table th {
  text-align: left;
  padding: 10px;
}
.Table tr:nth-child(even) {
  background: #dddddd;
}
.Table tr:nth-child(odd) {
  background: #f2f2f2;
}
