//==========================================================================
// CAPSULE
//==========================================================================

.Capsule {
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  width: auto;
}

//
// Media Queries
//
@media (min-width: @bp-L-min) {
  .Capsule {
    width: 964px;
  }
}
@media (max-width: @bp-M-max) {
  .Capsule {
    width: 798px;
  }
}
@media (max-width: @bp-S-max) {
  .Capsule {
    width: 675px;
  }
}
@media (max-width: @bp-XS-max) {
  .Capsule {
    width: 95%;
  }
}
