//==========================================================================
// GRID
//==========================================================================

.Flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  &--xs {
    display: block;
    @media (max-width: @bp-XS-max) {
      display: flex!important;
    }
  }
  &--sm {
    display: block;
    @media (min-width: @bp-SM-min) and (max-width: @bp-SM-max) {
      display: flex!important;
    }
  }
  &--md {
    display: block;
    @media (min-width: @bp-MD-min) and (max-width: @bp-MD-max) {
      display: flex!important;
    }
  }
  &--lg {
    display: block;
    @media (min-width: @bp-LG-min) {
      display: flex!important;
    }
  }
}

.Col {
  flex: 1;
  flex-grow: 4;
  &--big {
    flex-grow: 8;
  }
  &--small {
    flex-grow: 2;
  }
}
