//==========================================================================
// GRID
//==========================================================================

.Grid {
  display: flex;
  width: 100%;
}

.Grid__Half-L {
  padding: 10px;
  flex-basis: 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.Grid__Third-L {
  padding: 10px;
  width: 33.3333%;
}

.Grid__Third-L {
  padding: 10px;
  width: 33.3333%;
}

.Grid__Fourth-L {
  padding: 10px;
  width: 25%;
}

.Grid__Fifth-L {
  padding: 10px;
  width: 20%;
}

@media (max-width: @bp-L-min) {
  .Grid__Half-L, .Grid__Third-L, .Grid__Fourth-L, .Grid__Fifth-L {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}