.Header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.Header__Logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px 40px;
  background: rgba(50, 50, 50, 0.4);
}
.Header__Logo a {
  display: block;
}
