@import "../vendor/Normalize/normalize.css";
.txt--center {
  text-align: center!important;
}
.width--auto {
  width: auto!important;
}
.width--100 {
  width: 100%!important;
}
.display--block {
  display: block!important;
}
body {
  font-family: monospace;
  font-size: 12px;
  color: #454545;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 29px;
}
h4 {
  font-size: 23px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
.Capsule {
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .Capsule {
    width: 900px;
  }
}
.Alert {
  display: block;
  padding: 10px 15px;
  color: #505050;
  margin: 15px 0;
  font-weight: bold;
  background: #b6b6b6;
}
.Alert--info {
  background: #87cefa;
  color: #054f7d;
}
.Alert--success {
  background: #90ee90;
  color: #116e11;
}
.Alert--warning {
  background: #fff089;
  color: #897800;
}
.Alert--error {
  background: #f08080;
  color: #650c0c;
}
.Quote {
  display: block;
  border-left: solid 5px #b6b6b6;
  padding: 5px 0 5px 15px;
  margin: 10px 0;
}
.Quote__Footer {
  display: block;
  position: relative;
  color: #454545;
  padding: 5px 0 5px 15px;
  font-style: italic;
}
.Quote__Footer:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 1px;
  background: #454545;
  left: 5px;
  top: 50%;
  transform: translateX(-50%);
}
.Quote--info {
  border-color: #87cefa;
}
.Quote--info .Quote__Footer {
  color: #054f7d;
}
.Quote--success {
  border-color: #90ee90;
}
.Quote--success .Quote__Footer {
  color: #116e11;
}
.Quote--warning {
  border-color: #fff089;
}
.Quote--warning .Quote__Footer {
  color: #897800;
}
.Quote--error {
  border-color: #f08080;
}
.Quote--error .Quote__Footer {
  color: #650c0c;
}
.Link {
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}
.Link:hover {
  text-decoration: underline;
}
.Link--info {
  color: #054f7d;
}
.Link--success {
  color: #116e11;
}
.Link--warning {
  color: #897800;
}
.Link--error {
  color: #650c0c;
}
.Table {
  display: table;
  width: 100%;
  margin: 15px 0;
  border: none!important;
  border-collapse: collapse;
}
.Table th {
  font-weight: bolder;
}
.Table td,
.Table th {
  text-align: left;
  padding: 10px;
}
.Table tr:nth-child(even) {
  background: #dddddd;
}
.Table tr:nth-child(odd) {
  background: #f2f2f2;
}
.Button {
  outline: none;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 15px 0 15px;
  background: #b6b6b6;
  color: #454545;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-family: monospace;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  min-width: 150px;
}
.Button:hover {
  background: #454545;
  color: #bfbfbf;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.75);
}
.Button--info {
  background: #87cefa;
  color: #054f7d;
}
.Button--info:hover {
  background: #054f7d;
  color: #b8e2fc;
}
.Button--success {
  background: #90ee90;
  color: #116e11;
}
.Button--success:hover {
  background: #116e11;
  color: #bcf5bc;
}
.Button--warning {
  background: #fff089;
  color: #897800;
}
.Button--warning:hover {
  background: #897800;
  color: #fff6bc;
}
.Button--error {
  background: #f08080;
  color: #650c0c;
}
.Button--error:hover {
  background: #650c0c;
  color: #f5aeae;
}
